@keyframes heartbeat {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    to {
        transform: scale(1);
    }
}

.animate__animated {
    --animate-duration: 2s;
}

:root {
    --animate-delay: 1500ms;
}