.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../img/bg2.jpg') center (center/cover) no-repeat;
    &__descr {
        color: #ffffff;
        font-size: 20px;
        text-align: left;
    }
}

@media (max-width: 1200px) {
    .consultation {
        padding-left: 25px;
    }
}

@media (max-width: 575px) {
    .consultation {
        padding: 70px 0 42px 10px;
        .title_left {
            font-size: 25px;
        }
    }
}
