.feedback {
    margin: 0 10px;
    padding-bottom: 21px;
    &_wrapper {
        margin: 20px 0;
    }
    &_unit {
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        img {
            height: 169px;
            width: 169px;
        }
        .text_wrapper {
            margin-left: 60px;
            max-width: 656px;
            color: #0d0d0d;
            font-size: 16px;
            font-weight: 300;
            text-align: left;
            .name {
                font-size: 18px;
                font-weight: 700;
            }
            .subtitle {
                color: #646464;
                font-size: 14px;
            }
            .descr {
                margin-top: 8px;
                line-height: normal;
            }
        }
    }
}

@media (max-width: 768px) {
    .feedback {
        &_unit {
            padding: 30px 0;
        }
        img {
            height: 100px;
            width: auto;
        }
        .text_wrapper {
            margin-left: 25px;
        }
    }
}

@media (max-width: 575px) {
    .feedback {
        &_wrapper {
            margin: 20px 0 10px 0;
        }
        &_unit {
            padding: 25px 0;
            flex-direction: column;
            align-items: center;
        }
        img {
            height: 130px;
        }
        .text_wrapper {
            margin-left: 25px;
            margin-top: 20px;
            .descr {
                font-size: 14px;
                line-height: 1.5;
            }
        }
        
    }
}