@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('MuseoSansCyrl-100.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('MuseoSansCyrl-100Italic.woff') format('woff');
    font-weight: 150;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('MuseoSansCyrl-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('MuseoSansCyrl-300Italic.woff') format('woff');
    font-weight: 350;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('MuseoSansCyrl-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('MuseoSansCyrl-500Italic.woff') format('woff');
    font-weight: 550;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('MuseoSansCyrl-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('MuseoSansCyrl-700Italic.woff') format('woff');
    font-weight: 750;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('MuseoSansCyrl-900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('MuseoSansCyrl-900Italic.woff') format('woff');
    font-weight: 950;
    font-style: italic;
    font-display: swap;
}

